# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Demo binary files
demo_masq_ds
demo_masq_kem
demo_pqrnd
demo_qeep
demo_sequr

# Demo configuration files
qispace_info.h

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Misc
.vscode/*
json/
libmasq
libqeep
.DS_Store